* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
}

/* common */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.heading-lv2 {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.heading-lv3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 480px);
}

.btn {
  display: inline-block;
  padding: 0px 16px;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  background: #171100;
  line-height: 50px;
  min-width: 118px;
}

.btn:hover {
  opacity: 0.9;
}

:root {
  --primary-color: #ffb900;
}

/* tránh vỡ giao diện */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line2 {
  -webkit-line-clamp: 2;
  /* quá 2 dòng thì đoạn văn sẽ ... */
}

.break-all {
  word-break: break-all;
  /* tránh bị lòi ra văn bản */
}
/* header */

.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  z-index: 1;
  top: -28px;
}

.header .body {
  display: flex;

  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;

  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  position: absolute;
  border-radius: 1px;
  left: 21px;
  bottom: 6px;
}

/* btn */
.btn-sign-up {
  width: 144px;
  height: 50px;
  min-width: 144px;
}

.btn-sign-up a {
  color: #fff;
}

.header .action {
  margin-left: 49px;
}

/* hero---------------- */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .content-block {
  width: 52%;
}

.hero-img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  width: 270px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 48px;
  right: 0;
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon1 {
  background-color: #fcefff;
}

.hero-summary .icon2 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;

  line-height: 26px;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero right */
.content-block {
  width: 52%;
  padding-top: 64px;
  padding-left: 130px;
}

.hero .content-heading {
  color: #171100;
  font-weight: bold;
  font-size: 5rem;
  line-height: 68px;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  margin-top: 22px;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.hero .cta-group .hero-cta {
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 1.8rem;
  width: 180px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-group .watch-video {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}

.cta-group .watch-video .icon {
  background-color: #fff;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.cta-group .icon img {
  height: 12px;
  width: 12px;
}

.cta-group .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .dsec-rencent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* popular */
.popular-container {
  padding: 65px 0;
  background-color: #fff;
  margin-top: 135px;
}

.popular-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-info .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 16px;
  width: 458px;
}

.popular-btn-group {
  display: flex;
  gap: 18px;
}

.popular-btn-group .btn-control {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  background-color: transparent;
  display: flex;
  justify-content: center;
  color: #ffb900;
  align-items: center;
}

.popular-btn-group .btn-control:hover {
  background-color: #ffb900;
  color: #fff;
  cursor: pointer;
}

/* popular bottom */
.popular-courses {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  gap: 20px;
}

.popular-item {
  height: auto;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  flex: 1;
}

.popular-item .thumb {
  width: 100%;
  object-fit: cover;
}

.popular-item:hover {
  border-radius: 12px;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  background-color: #fff;
}

.popular-group {
  padding: 16px 22px 22px;
}

.popular-group .btn a {
  color: #fff;
}

.popular-group .heading-lv3 a {
  color: #171100;
}

.popular-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.popular-star span {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.popular-group .desc-courses {
  font-size: 1.4rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-top: 6px;
}

.courses-price {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-price h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #171100;
  line-height: 1.67;
}

.courses-price .btn-price {
  width: 118px;
  height: 50px;
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.courses-price .btn-price:hover {
  background-color: #ffb900;
}
